
{% extends 'base.html' %} 
{% block content %}
<h1>Order List</h1>

{% for order in data %}
<p>
    <strong>Ordering Date:</strong> {{ order.created_at|date:"d M Y g:i A" }}
</p>

<table border=1>
    <thead>
        <tr>
            <td width=100px>trade (brand) name</td>
            <td>number ordered</td>
        </tr>
    </thead>
    <tbody>
        {% for ordered_list in order.ordered_lists|dictsort:"item_id" %} 
        {% if ordered_list.quantity != 0 %}
        <tr>
            <td>
                {{ Item.objects.get__item_id.name }}
            </td>
            <td>
                {{ ordered_list.quantity }}
            </td>
        </tr>
        {% endif %} {% endfor %}
    </tbody>
</table>
{% empty %}
<p>There are no products ordered.</p>
{% endfor %}
{% endblock %}